
<div class="row">
    <div class="card-group">
        <div class="col-4">
            <div class="card" style=" margin:2%">
                <div class="card-body">
                    <h5 class="card-title">Query Mars Rover</h5>
                    @await Component.InvokeAsync("Rovers")
                    <div style="margin:1%">
                        <label for="planets">Choose Query Type:</label>
                        <select name="planets" id="planets" onchange="ChangeQueryType(this)">
                            <option value=""></option>
                            <option value="earth">Earth Date</option>
                            <option value="mars">Martian Sol</option>
                        </select>
                    </div>
                    <div id="earthDateContainer" style="display:none;" margin:1%;">
                        <label for="earth_date">Choose Earth Date:</label>
                        <input type="date" name="earth_date" id="earth_date">
                    </div>
                    <div id="solNumberContainer" style="display:none;" margin:1%;">
                        <label for="solNumber">Choose Sol Number:</label>
                        <input type="number" name="solNumber" id="solNumber">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="mani" style="margin:2%;">
                @await Component.InvokeAsync("MissionManifest")
            </div>
        </div>
        

    </div>
</div>
<div id="CameraContainer">
    <div id="pageNumber" style="display:none;">
        <label for="pageNum">Choose Page Number:</label>
        <input type="number" name="pageNum" id="pageNum">
    </div>
</div>
<div class="modal fade" id="marsRoverModal" name="marsRoverModal" tabindex="-1" style="width:90%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nasa Picture Of The Day</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="position: relative;">
                    <img id="marsRovermodalImage" src="" alt="Image missing" style="height:auto;width:100%;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
<script>

    function ChangeQueryType(e){
        if($("#planets option:selected").val() == "earth"){
            document.getElementById('earthDateContainer').style.display= "block";
            document.getElementById('solNumberContainer').style.display= "none";
            $("#solNumber").val("");
        }
        else if($("#planets option:selected").val() == "mars"){
            document.getElementById('solNumberContainer').style.display= "block";
            document.getElementById('earthDateContainer').style.display= "none";
            $("#earth_date").val("") ;
        }
        else{
            document.getElementById('solNumberContainer').style.display= "none";
            document.getElementById('earthDateContainer').style.display= "none";
            $("#earth_date").val("");
            $("#solNumber").val("");
        }
    }

    function selectRoverType(){
        var _url = '@Url.Action("GetManifest", "MarsRovers")';
        $("#CameraContainer").empty();
        $.ajax({
            type: "GET",
            url: _url,
            data: {
                _roverName: $("#SelectRoverType option:selected").text() ,
                _queryType: $("#planets option:selected").val() ,
                _queryEarthDate: $("#earth_date").val() ,
                _querySol: $("#solNumber").val() ,
            },
            success: function (result) {
                $("#mani").html(result);
                AddRoverCameras();
            },
        });
    }

    function AddRoverCameras(){
        var camNames = null;
        if(document.getElementById('camsAvaiManiAndDate') != null){
            camNames = document.getElementById('camsAvaiManiAndDate').innerHTML
        }
        if(camNames == null){
            return;
        }
        const availableCamNames = camNames.split(", ");
        for(const OneCam of availableCamNames){
        var _url = '@Url.Action("RefreshCameras", "MarsRovers")';
            $.ajax({
                type: "GET",
                url: _url,
                data: {
                    Cameraname:  OneCam,
                    roverName : $("#SelectRoverType option:selected").text() ,
                    type : $("#planets option:selected").val(),
                    _queryEarthDate: $("#earth_date").val() ,
                    _querySol: $("#solNumber").val() ,
                    page: $("#pageNum").val(),
                },
                success: function (result) {
                   $("#CameraContainer").append(result);
                   //document.getElementById('pageNumber').style.display= "block";
                },
            });
        }
    }

    function ClearTypeDateSol(){
        //$("#SelectRoverType").val($("#SelectRoverType option:first").val());
        $("#planets").val($("#planets option:first").val());
        $("#earth_date").val("");
        $("#solNumber").val("");
        document.getElementById('solNumberContainer').style.display= "none";
        document.getElementById('earthDateContainer').style.display= "none";
    }


    $(document).ready(function () {
        $('#SelectRoverType').on("change",function () {
            ClearTypeDateSol();
            selectRoverType();
        })
        $('#earth_date').on("change",function () {
            $("#solNumber").val();
            selectRoverType();
        })
        $('#solNumber').on("change",function () {
            $("#earth_date").val();
            selectRoverType();
        })
        $('#pageNum').on("change",function () {
            AddRoverCameras();
        })
     });
</script>
}